.LGS-Weather {
     width: 400px;
}
 .LGS-Weather .table td{
     text-align:center;
//     table-layout:fixed;
}
 .LGS-Weather tr {
     height: 29px;
	 text-align:center;
     table-layout:fixed;
}
 .LGS-Weather th {
     line-height: 20%;
     padding-top: 9px;
}
.LGS-Weather .blink_tr {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {  
  60% { opacity: 0; }
}
 .LGS-Weather .wheading {
     background-color: #000;
     text-align:center;
     color: #fff;    
     font-family: "Times New Roman", sans-serif;
     padding: 2px;
     font-size: 13px;
     line-height: 110%;
     border-radius: 7px;
}
.LGS-Weather .img {
	//width: 70px;
	height: 170px;
	align-content: center;
}
 .LGS-Weather .Forecasttable {
     float: left;
     clear: left;
     display: inline;
     margin-left: auto;
     margin-right:auto;
     text-align: center;
}
 .LGS-Weather .forehead {
     background-color: #000;
     text-align:center;
     color: #fff;
     text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
     font-family: "Times New Roman", sans-serif;
     padding: 2px;
     font-size: 13px;
     line-height: 110%;
     border-radius: 7px;
}
 .LGS-Weather .rheading {
     background-color: #000;
     text-align:center;
     color: #fff;
     text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
     font-family: "Times New Roman", sans-serif;
     padding: 2px;
     font-size: 13px;
     line-height: 110%;
     border-radius: 7px;
}
 .LGS-Weather .font {
     font-size: 23px;
}
.LGS-Weather .fontac {
     color: #fff;
}
.LGS-Weather .fontss{
     color: #fff;
}
.LGS-Weather .fontauw{
     color: #fff;
}
.LGS-Weather .fontfor {
     color: #000;
}
.LGS-Weather .IMG {
	width: 25px;
	height: 24px;
}
 .LGS-Weather .xxsmall {
     font-size: 50px;
     color:#a4c6c5;
     margin: 10px;
}
.LGS-Weather .tempf {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.weather-header{
     position: relative;
     text-align: center;
     padding-bottom: 20px;
}
.weather-temperature{
     position: absolute;
     left: 22%;
     bottom: 23%;
}
.weather-text{
     text-align: center;
}